[SHARE_NAME]
    comment = COMMENT
    create mask = CREATE_MASK
    directory mask = DIRECTORY_MASK
    path = DIRECTORY_PATH
    writeable = WRITEABLE
    browseable = BROWSEABLE
    valid users = VALID_USERS
    force create mode = FORCE_CREATE_MODE
    force directory mode = FORCE_DIRECTORY_MODE
