<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.22">
      <diskUsageWithoutBuilds>30937</diskUsageWithoutBuilds>
      <slaveWorkspacesUsage class="concurrent-hash-map">
        <entry>
          <string>alpine 2.6 x86-64 (b7a)</string>
          <concurrent-hash-map>
            <entry>
              <string>/home/jenkins/ci/workspace/_eisfair-ng__updateRepoIndex__v2.6_x86_64</string>
              <long>246766</long>
            </entry>
          </concurrent-hash-map>
        </entry>
      </slaveWorkspacesUsage>
    </hudson.plugins.disk__usage.DiskUsageProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>alpine_v2.6_x86-64</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Vorgabewert)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>./createRepoIndex.sh -v v2.6 -a x86_64
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.7"/>
    <hpi.CopyDataToWorkspacePlugin plugin="copy-data-to-workspace-plugin@1.1-SNAPSHOT">
      <folderPath>jobs/_eisfair-ng__jobTrigger/workspace/_ADMIN</folderPath>
      <makeFilesExecutable>true</makeFilesExecutable>
      <deleteFilesAfterBuild>false</deleteFilesAfterBuild>
      <copiedFilenames>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
        <string>jobTemplates</string>
        <string>createPackageList.sh</string>
        <string>buildPackage.sh</string>
        <string>settings.txt</string>
        <string>checkForNewPackages.sh</string>
        <string>settings.default.txt</string>
        <string>checkForChanges.sh</string>
        <string>createRepoIndex.sh</string>
        <string>readme.txt</string>
      </copiedFilenames>
    </hpi.CopyDataToWorkspacePlugin>
  </buildWrappers>
</project>